a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0} 

*{
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body{
    font-family: 'Play', sans-serif;
    color: white;
}

img:hover {
    box-shadow: 0px 0px 5px 5px #effff5;
}

video:hover {
    box-shadow: 0px 0px 5px 5px #effff5;
}

.menu-container {
    display: flex;
    align-items: center;
    width: 5vw;
    margin-top: 2vh;
    margin-left: 1vw;
  }
  
  .menu-icon {
    padding: 20px;
    background: white;
    border-radius: 10px;
  }
  
  .icon-bar {
    display: block;
    width: 1.5vw;
    height: 3px;
    margin-bottom: 4px;
    background-color: black;
  }
  
  .menu-items {
    z-index: 99;
    position: fixed;
    top: 0;
    left: -20vw;
    width: 20vw;
    height: 100%;
    background-color: white;
    padding: 3vh;
    padding-left: 10vh;
    transition: transform 0.3s ease-in-out;
  }
  
  .menu-items li {
    list-style: none;
    margin-bottom: 3vh;
    font-size: 1.7em;
    transform: skewX(7deg);
  }
  
  .menu-items li a {
    text-decoration: none;
    color: black;
    transition: 200ms ease-in-out all;
  }

  .menu-items li a:hover {
    color: rgb(48, 18, 119);
    font-size: 1.05em;
  }
  
  .menu-container:hover .menu-items {
    transform: translateX(16vw) skewX(-7deg);
  }

#homepage {
  background-image: url(../assets/spacebg.png);
  background-size: cover;
}

h1 {
    font-size: 6em;
    font-weight: 700;
    text-align: center;
    margin-top: 10vh;
    pointer-events: none;
}

.welcometext {
    animation-name: floattext;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floattext {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

h2 {
    font-size: 2.7em;
    font-weight: 400;
    text-align: center;
    margin-top: 3vh;
}

a {
    text-decoration: none;
    color: white;
}

/* Art page */ 

#artpage {
    background: rgb(190, 243, 231);
}

#artpage nav {
  position: fixed;
  margin-top: -8vh;
}

#artpage img {
  transition: scale 0.3s ease-in-out;
}

#artpage img:hover {
  scale: 1.05;
}

.arth1 {
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.artp {
  width: 50vw;
  margin-left: 25vw;
  font-size: 1.35em;
  line-height: 1.15em;
  text-align: center;
}

.artcontainer {
  width: 70vw;
  margin: 0 auto;
  margin-top: 8vh;
}

.artimg {
  width: 30vw; 
  border-radius: 10px;
  float: left;
}

.artcontainer p {
  width: 30vw;
  float: right;
  margin-top: 2vw;
  font-size: 1.35em;
  line-height: 1.15em;
  text-align: center;
}

.smallartimg {
  max-width: 20vw;
  max-height: 237px;
  object-fit: contain;
  margin-right: 5vw;
  border-radius: 10px;
  float: left;
}

.smallartimg:last-child {
  margin-right: 0;
}

.textlink {
  color: rgb(76, 82, 117);
  font-weight: 600;
  transition: font-size 100ms ease-in-out;
}

.textlink:hover {
  font-size: 1.1em;
}

.assignment {
  max-width: 25vw;
  margin-bottom: 3vh;
  margin-right: 15vw;
}

.sketch {
  max-width: 30vw;
  max-height: 30vh;
  margin-right: 3vw;
}

.sketch:first-of-type {
  height: 400px;
}

.artcontainer:last-of-type {
  height: 400px;
}

/* projects page */ 

#projectspage {
    background: rgb(190, 243, 231);
    padding-bottom: 200px;
}

#projectspage nav {
  position: fixed;
  margin-top: -8vh;
}

#projectspage img {
  transition: scale 0.3s ease-in-out;
}

#projectspage img:hover {
  scale: 1.05;
}

#projectspage video {
  transition: scale 0.3s ease-in-out;
}

#projectspage video:hover {
  scale: 1.05;
}

#projectsh1 {
  margin-bottom: 5vh;
}

.projectsp {
  width: 50vw;
  margin-left: 25vw;
  font-size: 1.35em;
  line-height: 1.15em;
  text-align: center;
}

.projectsh2 {
  margin-bottom: 2vh;
  font-weight: 600;
}

.projectscontainer {
  width: 70vw;
  margin: 0 auto;
}

.projectscontainer p {
  width: 30vw;
  float: right;
  margin-top: 2vw;
  font-size: 1.35em;
  line-height: 1.15em;
  text-align: center;
}

.altprojectsp {
  float: left !important;
}

.lightimg {
  width: 30vw;
  float: left;
  border-radius: 10px;
}

.altprojectimg {
  width: 35vw;
  float: right;
  border-radius: 10px;
  margin-top: 5vh;
}

/* New website design stuff */ 

/* Home page */

.homeplanet {
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 2px 2px #effff5;
  position: absolute;
}

.overlayplanet {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.homeplanet:hover {
  transform: scale(1.05);
}

.homeplanet:hover .overlayplanet {
  box-shadow: 0px 0px 5px 5px #effff5;
  opacity: 1;
}

.planet-game {
  width: 10vw;
  height: 10vw;
  top: 25vh;
  left: 4vw;
  background-image: url(../assets/newgameplus.png);
}

.overlay-game {
  height: 10vw; 
  width: 10vw; 
  padding-top: 4.2vw;
}

.planet-skillit {
  background-image: url(../assets/skillit.png);
  background-position: 0px -15px;
  width: 12vw; 
  height: 12vw; 
  top: 70vh;
  left: 30vw;
}

.overlay-skillit {
  height: 12vw; 
  width: 12vw; 
  padding-top: 5.7vw;
}

.planet-light {
  background-image: url(../assets/necrozma.jpg);
  width: 15vw; 
  height: 15vw; 
  top: 40vh;
  left: 16vw;
}

.overlay-light {
  height: 15vw; 
  width: 15vw; 
  padding-top: 7.2vw;
}

.planet-renatus {
  background-image: url(../assets/renatus.png);
  width: 13vw; 
  height: 13vw; 
  top: 69vh;
  left: 3vw;
}

.overlay-renatus {
  height: 13vw; 
  width: 13vw; 
  padding-top: 6.2vw;
}

.planet-about {
  background-image: url(../assets/mereg.jpeg);
  width: 11vw; 
  height: 11vw; 
  top: 50vh;
  left: 44.5vw;
}

.overlay-about {
  height: 11vw; 
  width: 11vw; 
  padding-top: 5.2vw;
}

.planet-blender {
  background-image: url(../assets/donut.png);
  width: 10vw; 
  height: 10vw; 
  top: 22vh;
  left: 80vw;
}

.overlay-blender {
  height: 10vw; 
  width: 10vw; 
  padding-top: 4.2vw;
}

.planet-digiart {
  background-image: url(../assets/hk41thumbnail.jpg);
  width: 14vw; 
  height: 14vw; 
  top: 67vh;
  left: 78vw;
}

.overlay-digiart {
  height: 14vw; 
  width: 14vw; 
  padding-top: 6.2vw;
}

.planet-physart {
  background-image: url(../assets/sableye.jpg);
  width: 11vw; 
  height: 11vw; 
  top: 43vh;
  left: 68vw;
}

.overlay-physart {
  height: 11vw; 
  width: 11vw; 
  padding-top: 5.2vw;
}

.planet-oldart {
  background-image: url(../assets/garden.jpg);
  width: 9vw; 
  height: 9vw; 
  top: 74vh;
  left: 60vw;
}

.overlay-oldart {
  height: 9vw; 
  width: 9vw; 
  padding-top: 4.2vw;
}

/* Light */

#lightpage {
  background-image: url(../assets/spacebg.png);
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: multiply;
}

/* Renatus */

#renatuspage {
  background-image: url(../assets/renatusbg.png);
  color: black;
}

.renatusimg {
  transition: scale 0.3s ease-in-out;
  box-shadow: 0px 0px 2px 2px #6d6d6d;
}

.renatusimg:hover {
  scale: 1.05;
  box-shadow: 0px 0px 5px 5px #6d6d6d;
}

/* Skillit */ 

#skillitpage {
  background: #FFCCCC;
  color: black;
}

.fakenav {
  background: white; 
  width: 100vw;
  position: absolute; 
  top: 0;
  height: 10vh;
}

#skillitpage .projectsh2 {
  margin-top: 15vh;
}

.skillitimg {
  width: 35vw;
  float: left;
  border-radius: 10px;
  margin-top: 5vh;
  box-shadow: 0px 0px 2px 2px #effff5;
  transition: scale 0.3s ease-in-out;
}

.skillitimg:hover {
  scale: 1.05;
}

.skillitimg:last-child {
  margin-bottom: 5vh;
}

/* Immersion */ 

#immersionpage {
  background: #708AC7;
  color: #8BDAF9;
}

.immersionnav {
  background: #3F0D42;
  border: #8BDAF9 solid 3px;
  width: 100vw;
  position: absolute; 
  top: 0;
  height: 11vh;
}

#immersionpage .projectsh2 {
  padding-top: 3vh;
}

.immersionoverlay {
  background: rgba(0, 0, 0, 0.5);
  width: 80vw;
  margin: 15vh auto 0;
  display: block; 
  overflow: auto;
  padding-bottom: 5vh;
}

.immersionlink {
  color: #cdf1ff;
}

.immersionimg {
  box-shadow: 0px 0px 2px 2px #effff5;
  transition: scale 0.3s ease-in-out;
}

.immersionimg:hover {
  scale: 1.05;
}

/* About */

#aboutpage {
  background: rgb(190, 243, 231);
  color: black;
}

#abouth1 {
margin-top: 0;
}

#abouth2 {
margin-top: 3vh;
margin-bottom: 8vh;
}

.aboutimg {
width: 20vw; 
position: absolute;
margin-left: 10vw;
border-radius: 10px;
}

.aboutstyle {
opacity: 0;
transition: opacity 500ms ease-in-out;
}

.aboutstyle:hover {
opacity: 1;
}

#aboutp {
width: 50vw;
margin-left: 35vw;
font-size: 1.35em;
line-height: 1.15em;
text-align: center;
}

.mailme {
position: absolute;
margin-left: 55vw;
margin-top: 3vh;
font-size: 1.5em;
color: rgb(76, 82, 117);
font-weight: 600;
transition: scale 0.3s ease-in-out;
}

.mailme:hover { 
  scale: 1.05;
}

/* Blender */ 

#blenderpage {
  background-image: url(../assets/sprinklebg.png);
  color: black;
}

.blendervid {
  width: 30vw;
  float: left;
  border-radius: 10px;
  object-fit: contain;
  margin-top: 3vw;
  margin-bottom: 3vw;
  box-shadow: 0px 0px 2px 2px #effff5;
  transition: scale 0.3s ease-in-out;
}

.blendervid:hover {
  scale: 1.05;
}

.blendervid:first-of-type {
  margin-right: 10vw;
  margin-bottom: 10vh;
}

.blenderp {
  margin-bottom: 20vh;
}

.blenderlink {
  color: rgb(76, 82, 117);
  font-weight: 600;
  transition: font-size 100ms ease-in-out;
}

.blenderlink:hover {
  font-size: 1.1em;
}

/* Digital art */

.arth2 {
  font-weight: 600;
}

#digipage {
  background-image: url(../assets/digiartbg.png); 
}

.digiimg {
  box-shadow: 0px 0px 2px 2px #effff5;
  transition: scale 0.3s ease-in-out;
}

.digiimg:hover {
  scale: 1.05;
}

/* Physical art */ 

#phypage {
  background-image: url(../assets/cavebg.png);
}

.physical {
  max-height: 33vh;
  margin-right: 2vw; 
  margin-bottom: 3vh;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 2px #effff5;
  transition: scale 0.3s ease-in-out;
}

.physical:hover {
  scale: 1.05;
}

/* Old art */ 

#oldpage {
  background-image: url(../assets/sketchbg.png);
  color: black;
}

.oldimg {
  box-shadow: 0px 0px 2px 2px #effff5;
  transition: scale 0.3s ease-in-out;
}

.oldimg:last-child {
  margin-bottom: 5vh;
}

.oldimg:hover {
  scale: 1.05;
}